:root {
    --black_level_1: #413F3F;
    --black_level_2: #636262;
    --orange_level_1: #FFB800;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
}